[ req ]
default_bits       = 4096
prompt             = no
default_md         = sha256
distinguished_name = dn
req_extensions     = v3_req

[ dn ]
C            = SA
ST           = Riyadh
L            = Riyadh
O            = TechTouch AI
OU           = Software Development
CN           = TechTouch AI
emailAddress = support@techtouch.ai

[ v3_req ]
basicConstraints     = critical, CA:FALSE
keyUsage             = critical, digitalSignature, keyEncipherment
extendedKeyUsage     = critical, codeSigning, 1.3.6.1.5.5.7.3.3
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
